# Ignore several file/path patterns such as IDE specific files

/cgi-bin
/vendor
xcache/
picture_library/
plesk-stat/
xcacheadmin/
.ssh/
nbproject/private/
nbproject/
**/*.log
**/*temp_*
**/*Copy of*
/.project
/.buildpath
/.settings
/.bash_history
/.viminfo
._*
/atlassian-ide-plugin.xml
*.dev*.css.*
*.dev*.css
.sass-cache/
**/node_modules

##Project specific ignores
configuration.ini
config.json

## IDEA ignores
.idea/workspace.xml
.idea/tasks.xml

##TypeScript
/dist
/typings
/src/**/*.js